h1, h2 {
  margin: 5px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #014373;
  height: 160px;
  padding: 20px;
  color: white;
}

.App-title {
  margin-top: 10px;
  font-size: 1.5em;
}

.App-sub-title {
  font-size: 1.2em;
  font-weight: lighter;
}


.App-buttons {
  margin-top: 15px;
}

.App-buttons .button {
  margin: 20px 40px;
}

.App-dropdown {
  width: 50%;
  position: relative;
  top: 30px;
}

.App-jockeys {
  width: 50%;
  display: inline-block;
  position: relative;
  top: 13px;
  left: 200px;
}

.App-field img {
  display: flex;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: relative;
  right: 90%;
}

.App-field progress {
  width: 90%;
  position: relative;
  left: 80px;
  bottom: 40px;
  float: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
